.question__detail__container {
  margin-right: 70px;
}

.question__detail__heading__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.question__detail__heading__question {
  margin-left: 40px;
  font-size: 1.5rem;
}

.answer__detail__card__content {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.note_buttom {
  position: relative;
  margin: 0 auto;
  left: 90%;
}
.note__form__wrap_textarea {
  margin-top: 10px;
}
.note__form__textarea {
  width: 100%;
  box-sizing: border-box;
}

.wrap__note__buttom {
  margin-top: 20px;
}

.save_buttom {
  left: 50%;
}
.cancel_buttom {
  left: 35%;
}
